#!/bin/sh

# Personal
## Misc
alias \
	zshconfig="$EDITOR ~/.zshrc" \
	ohmyzsh="$EDITOR ~/.oh-my-zsh" \
	wttr="clear && curl wttr.in" \
	morning="~/Code/scripts/personal/morning.sh.command" \
	todo="$EDITOR ~/Documents/.todo.md" \
	aliases="$EDITOR ~/Code/dotfiles/.aliases" \	
	dotfiles="$EDITOR ~/Code/dotfiles"

## Git
alias \
	gmji="gitmoji -c" \
	gls="git branch -l | cat"

gre () {
	n=${1:1}
	git reset HEAD~$n
}

## asdf
alias \
	aftl="cat .tools-version" \
	afi="asdf install" \
	afls="asdf list"

## Work
alias \
  dpi="cd ~/Code/dpi" \
  da="direnv allow ." \
  ul="ulimit -n 5048" \
  es="iex -S mix phx.server" \
  updpi="dpi && da && ul && es" \
  erlangunset="unset CC && unset LDFLAGS && unset KERL_CONFIGURE_OPTIONS" \
  erlangset="export CC='/usr/bin/clang -I$(brew --prefix unixodbc)/include' && export LDFLAGS=-L$(brew --prefix unixodbc)/lib && export KERL_CONFIGURE_OPTIONS='--with-ssl=$(brew --prefix openssl) --with-odbc=$(brew --prefix unixodbc) --disable-hipe --without-wx --disable-jit'"

# Depricated
## Work
# alias \
# 	gc="cd ~/Documents/gc" \
# 	gcbi="cd ~/Documents/gc/build-it" \
# 	upbi="~/Documents/gc/upbi.sh" \
# 	downbi="~/Documents/gc/downbi.sh" \
# 	bilog="docker logs -f build_it_web" \
# 	biex="docker exec -it build_it_web /bin/bash" \
