#!/bin/sh

# Personal
## Misc
alias \
	zshconfig="$EDITOR ~/.zshrc" \
	ohmyzsh="$EDITOR ~/.oh-my-zsh" \
	wttr="clear && curl wttr.in" \
	morning="~/Documents/scripts/personal/morning.sh.command" \
	todo="$EDITOR ~/Documents/.todo.md" \
	aliases="$EDITOR ~/Documents/dotfiles/.aliases" \	
	dotfiles="$EDITOR ~/Documents/dotfiles"

## Git
alias \
	gmji="gitmoji -c" \
	gls="git branch -l | cat" \

## Work
alias \
  dpi="cd ~/Documents/dpi" \
  updpi="cd ~/Documents/dpi && direnv allow . && ulimit -n 2048 && iex -S mix phx.server"

# Found on the internet
## Use neovim for vim if present.
[ -x "$(command -v nvim)" ] && alias vim="nvim" vimdiff="nvim -d"

# Depricated
## Work
# alias \
# 	gc="cd ~/Documents/gc" \
# 	gcbi="cd ~/Documents/gc/build-it" \
# 	upbi="~/Documents/gc/upbi.sh" \
# 	downbi="~/Documents/gc/downbi.sh" \
# 	bilog="docker logs -f build_it_web" \
# 	biex="docker exec -it build_it_web /bin/bash" \
